<footer class="footer">
  <div class="footer__offers offers">
    <p><a (click)="goTo('catalog')" class="offers__offer">Отдых в Кисловодске</a></p>
    <p><a (click)="goTo('catalog')" class="offers__offer">Отдых в Пятигорске</a></p>
    <p><a (click)="goTo('catalog')" class="offers__offer">Отдых в Ессенуках</a></p>
    <p><a (click)="goTo('catalog')" class="offers__offer">Отдых в Железноводске</a></p>
  </div>
  <div class="footer__body">
    <div class="footer__body__logo">
      <img src="assets/images/brand_logo.png" alt="Brand logo">
    </div>
    <div class="footer__body__groups">
      <div class="footer__body__group">
        <h4 class="footer__body__group__title">Направления</h4>
        <p class="footer__body__group__item"><a (click)="goTo('catalog')">Кисловодск</a></p>
        <p class="footer__body__group__item"><a (click)="goTo('catalog')">Пятигорск</a></p>
        <p class="footer__body__group__item"><a (click)="goTo('catalog')">Ессентуки</a></p>
        <p class="footer__body__group__item"><a (click)="goTo('catalog')">Железноводск</a></p>
      </div>
      <div class="footer__body__group">
        <h4 class="footer__body__group__title">О компании</h4>
        <p class="footer__body__group__item"><a href="#">О нас</a></p>
        <p class="footer__body__group__item"><a href="#">Бронирование</a></p>
        <p class="footer__body__group__item"><a href="#">Оплата</a></p>
        <p class="footer__body__group__item"><a href="#">Гарантии</a></p>
      </div>
      <div class="footer__body__group">
        <h4 class="footer__body__group__title">Информация</h4>
        <p class="footer__body__group__item"><a href="#">Отзывы</a></p>
        <p class="footer__body__group__item"><a href="#">Акции</a></p>
        <p class="footer__body__group__item"><a href="#">Вопрос-ответ</a></p>
        <p class="footer__body__group__item"><a href="#">Контакты</a></p>
      </div>
    </div>
    <div class="footer__body__socials socials">
      <a href="#" class="socials__item"><fa-icon [icon]="faTelegram"></fa-icon></a>
      <a href="#" class="socials__item"><fa-icon [icon]="faInstagram"></fa-icon></a>
    </div>
    <div class="footer__body__shedule shedule">
      <span>с 09:00 до 21:00 в будни</span>
    </div>
    <div class="footer__body__contacts contacts">
      <div class="contacts__item">
        <fa-icon [icon]="faPhone"></fa-icon>
        <a href="tel:+77897654321">+7 789 765 43 21</a>
      </div>
      <div class="contacts__item">
        <fa-icon [icon]="faPhone"></fa-icon>
        <a href="tel:+71234567899">+7 123 456 78 99</a>
      </div>
      <div class="contacts__book-button">
        <button type="button">Забронировать</button>
      </div>
    </div>
  </div>
  <div class="footer__extra-links">
    <p class="footer__extra-links__link"><a href="#">Согласие на обработку персональных данных</a></p>
    <p class="footer__extra-links__link"><a href="#">Политика конфиденциальности в отношении обработки персональных данных</a></p>
    <p class="footer__extra-links__link">Разработка сайта - <a href="#">crash-design.ru</a></p>
  </div>
</footer>
