.booking-search {
  width: 100%;
  display: flex;
  padding: 0 11em;
  justify-content: space-between;
  align-items: stretch;
  gap: 3em;
}

.booking-search > .booking-search__field {
  background-color: #FFF;
  padding: .75em 1.25em;
  border-radius: 5em;
  font-size: 1.2rem;
  flex: 1;
  white-space: nowrap;
  grid-row: 1;
}

.booking-search > .booking-search__field > fa-icon {
  color: var(--secondary-text-color);
  margin-right: .5em;
}

.booking-search > .booking-search__field > input {
  border: none;
  margin: -1em;
  padding: 1em;
  background-color: transparent;
  width: 100%;
}

.booking-search > .booking-search__field > input:focus-visible {
  outline: none;
}

.booking-search > .booking-search__field > input::placeholder {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-family: 'Gotham Pro';
}

.booking-search > .booking-search__button {
  flex: 1;
}

.booking-search > .booking-search__button > button {
  padding: 0 3em;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5em;
  color: var(--alternative-text-color);
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (width <= 1300px) {
  .booking-search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .booking-search > .booking-search__button {
    grid-column: 2;
  }
}

@media screen and (width <= 1000px) {
  .booking-search {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .booking-search > .booking-search__field:nth-child(3) {
    grid-column: span 2;
    grid-row: 2;
  }

  .booking-search > .booking-search__button {
    grid-column: span 2;
  }
}

@media screen and (width <= 700px) {
  .booking-search {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 0 4em;
  }

  .booking-search > .booking-search__field:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  .booking-search > .booking-search__field:nth-child(3) {
    grid-row: 3;
    grid-column: 1;
  }

  .booking-search > .booking-search__button {
    grid-row: 4;
    grid-column: 1;
  }
}
