<div class="feedback-form">
  <h1 class="feedback-form__title">
    Нужна помощь?
  </h1>
  <p class="feedback-form__text">
    Не знаете, как выбрать?
Оставьте заявку, мы сделаем подборку предложений, с учетом всех Ваших пожеланий
  </p>
  <form action="" class="feedback-form__body">
    <input type="text" placeholder="Ваше имя *">
    <input type="text" placeholder="Ваш телефон *">
    <button type="submit">Подобрать</button>
  </form>
  <img src="assets/images/feedback_form.png" alt="Feedback form image" class="feedback-form__image">
</div>
