main {
  background-color: #FFF;
}

.search-bar {
  padding: 2em 11em;
  display: flex;
  align-items: stretch;
  gap: 2em;
}

.search-bar > input {
  padding: 1em 2em;
  border: 1px solid var(--insignificant-text-color);
  border-radius: 5em;
  flex: 1;
}

.search-bar > input::placeholder {
  color: var(--primary-text-color);
}

.search-bar > button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5em;
  color: var(--alternative-text-color);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em 2em;
  width: 24em;
}

.page-position {
  padding: 1em 11em;
}

.page-position a {
  color: var(--accent-color);
}

@media screen and (width <= 1600px) {
  .search-bar {
    margin: 2em 0;
    margin-bottom: 0;
  }

  .page-position {
    padding: 0 11em;
  }
}

@media screen and (width < 700px) {
  .search-bar {
    padding: 2em 4em;
  }

  .search-bar {
    flex-direction: column;
  }

  .search-bar > button {
    width: 100%;
  }

  .page-position {
    padding: 0 4em;
  }
}
