<app-hero [doShowTitle]="false"></app-hero>
<main>
  <div class="search-bar">
    <input type="text" placeholder="Поиск по санаториям и отелям">
    <button (click)="goTo('catalog');">Найти</button>
  </div>
  <div class="page-position">
    <p>
      <span><a href="#">Главная</a></span> / <span><a href="#">Новости</a></span> / <span>Эксперты выяснили, какие фильмы россияне смотрят в дороге и на отдыхе</span>
    </p>
  </div>
  <div class="content">
    <div class="categories">
      <h3>Рубрики</h3>
      <ul>
        <li><a href="#">Здоровье</a></li>
        <li><a href="#">Спорт</a></li>
        <li><a href="#">Активный отдых</a></li>
        <li><a href="#">Отдых с детьми</a></li>
        <li><a href="#">Транспорт</a></li>
        <li><a href="#">Зимний отдых</a></li>
        <li><a href="#">Море</a></li>
        <li><a href="#">Экскурсии</a></li>
        <li><a href="#">Для самых маленьких</a></li>
        <li><a href="#">Культурный досуг</a></li>
        <li><a href="#">Велоспорт</a></li>
        <li><a href="#">Питание</a></li>
        <li><a href="#">Традиции и культура</a></li>
        <li><a href="#">Достопримечательности</a></li>
        <li><a href="#">Парусный спорт</a></li>
      </ul>
    </div>
    <div class="article-card">
      <div class="article-card__head">
        <h1>Эксперты выяснили, какие фильмы россияне смотрят в дороге и на отдыхе</h1>
        <p>12.04.2023 г. опубликовано в рубрике <a href="#">“Транспорт”</a></p>
      </div>
      <div class="article-card__hero">
        <img src="assets/images/articles/hero.png" alt="Hero image">
      </div>
      <div class="article-card__body">
        <p>
          Больше половины россиян смотрят фильмы и сериалы в поездках, чтобы скоротать время в дороге, чаще всего выбирают комедии, триллеры и драмы, говорится в исследовании сервиса по покупке билетов "Авиасейлс" и онлайн-кинотеатра Start, которое имеется в распоряжении РИА Новости.
        </p>
        <p>
          В опросе приняли участие свыше 1,5 тысячи подписчиков стриминга и пользователей "Авиасейлс". "Больше половины из них ответили, что смотрят фильмы и сериалы в поездках – 56 процентов", – рассказали аналитики.
        </p>
        <p>
          Они также выяснили, что россияне обращаются к просмотру киноконтента в разные моменты путешествия. "Чаще всего это способ скоротать время в дороге. В вопросе с множественным выбором, большинство из них отметили, что смотрят кино в самолете – 78 процентов. В аэропорту для этого находят время 30 процентов респондентов, а четверть – по дороге в хаб", – говорится в исследовании.
        </p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
