.option {
  height: 15em;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  color: var(--alternative-text-color);
  max-width: 350px;
  cursor: pointer;
}

.option::after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.option > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.suggestion {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  font-weight: 700;
  padding: .7em 1.4em;
  text-transform: uppercase;
  border-radius: 0 0 0 1em;
}

.option .option__content > h4 {
  position: absolute;
  z-index: 20;
  bottom: 1.5em;
  left: 2em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.suggestion.suggestion--type1 {
  background-color: var(--primary-color);
}

.suggestion.suggestion--type2 {
  background-color: var(--accent-color);
}

@media screen and (width <= 1000px) {
  .option {
    max-width: unset;
  }
}
