<div class="advantages">
  <div class="advantages__title">
    <p><span>Отдых с нами - </span> гостеприимность и душевность Кавказа.</p>
    <p>А еще это:</p>
  </div>
  <div class="advantages__cards">
    <div class="card">
      <img src="assets/images/advantages/1.png" alt="Advantage image">
      <h4>
        Огромный выбор жилья
      </h4>
      <p>
        Отели на любой вкус для активного отдыха, отдыха с семьёй, детьми или друзьями
      </p>
    </div>
    <div class="card">
      <img src="assets/images/advantages/2.png" alt="Advantage image">
      <h4>
        Место силы
      </h4>
      <p>
        Удивительная природа Кавказа чарует своей красотой и поистине наполняет силой и здоровьем
      </p>
    </div>
    <div class="card">
      <img src="assets/images/advantages/3.png" alt="Advantage image">
      <h4>
        Вода - источник жизни
      </h4>
      <p>
        Более 40 термальных источников Кавказа ежегодно щедро делится с гостями уникальными природными свойствами лечебной воды
      </p>
    </div>
  </div>
</div>
