.reviews {
  margin: 0 10em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.reviews > .reviews__title {
  text-align: center;
}

.reviews > .reviews__title > h1 {
  margin-bottom: .5em;
  font-size: 2.5rem;
  font-weight: 900;
}

.reviews > .reviews__title > p {
  font-size: 2rem;
}

.reviews > .reviews__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  padding: 1em;
}

.reviews > .reviews__more-button {
  margin: 0 auto;
}

.reviews > .reviews__more-button > button {
  text-transform: uppercase;
  padding: 1em 5em;
  border: none;
  border-radius: 5em;
  color: var(--alternative-text-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

@media screen and (width <= 700px) {
  .reviews {
    margin: 0 3em;
  }

  .reviews > .reviews__list {
    grid-template-columns: 1fr;
  }
}
