.cities-offers {
  padding: 0 11em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.cities-offers > * {
  flex: 1;
}

.search-bar {
  padding: 0 11em;
  margin: 9em 0;
  display: flex;
  align-items: stretch;
  gap: 2em;
}

.search-bar > input {
  padding: 1em 2em;
  border: 1px solid var(--insignificant-text-color);
  border-radius: 5em;
  flex: 1;
}

.search-bar > input::placeholder {
  color: var(--primary-text-color);
}

.search-bar > button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5em;
  color: var(--alternative-text-color);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em 2em;
  width: 24em;
}

@media screen and (width <= 1600px) {
  .cities-offers {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-bar {
    margin: 4em 0;
  }
}

@media screen and (width <= 800px) {
  .cities-offers {
    grid-template-columns: 1fr;
  }
}

@media screen and (width < 700px) {
  .cities-offers, .search-bar {
    padding: 0 4em;
  }

  .search-bar {
    flex-direction: column;
  }

  .search-bar > button {
    width: 100%;
  }
}
