.news-card {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-areas: "image title"
                       "image date"
                       "image body";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1em;
}

.news-card > .news-card__image {
  grid-area: image;
  overflow: hidden;
  border-radius: 2em;
}

.news-card > .news-card__image > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: center;
}

.news-card > .news-card__title {
  grid-area: title;
}

.news-card > .news-card__date {
  grid-area: date;
}

.news-card > .news-card__date > p {
  font-size: .8rem;
}

.news-card > .news-card__body {
  grid-area: body;
}

.news-card > .news-card__body > p {
  font-size: .8rem;
}
